@charset "UTF-8";
/* 
  Mydas_Egg - project inital generator
  v1.2.5 | 2016-12-27 EJay - modify CIS color & add _mixin.scss
  v1.2.4 | 2016-12-26 EJay - modify something css class. ex: html, body
  v1.2.3 | 2016-12-26 EJay - add something css class. ex: .flex-col
  v1.2.2 | 2016-11-21 EJay - add something css class. ex: .vv, .vh, .cur
  v1.1.0 | 2016-11-21 EJay - all element use box-sizing: border-box & new something css class
  v1.0.1 | 2016-11-21 EJay - Create Emmet CSS
  Copyright © 2016 Anyong Fintech Co., Ltd.
*/
/* 
  RESET CSS
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
/* line 7, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 
  HTML5 display-role reset for older browsers 
*/
/* line 30, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* line 34, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 37, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}
/* line 42, ../scss/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 13, ../scss/emmet.scss */
* {
  box-sizing: border-box;
}

/* line 19, ../scss/emmet.scss */
textarea:focus,
input:focus {
  outline: none;
}

/* line 24, ../scss/emmet.scss */
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
/* line 28, ../scss/emmet.scss */
a:hover {
  text-decoration: none;
}

/* line 33, ../scss/emmet.scss */
html,
body {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
  margin: 0em;
  border: none;
}

/* line 45, ../scss/emmet.scss */
.c-dk-0,
.c-dark-0,
.c-dk,
.c-dark {
  color: #000000;
}

/* line 52, ../scss/emmet.scss */
.c-dk-1,
.c-dark-1 {
  color: #666666;
}

/* line 57, ../scss/emmet.scss */
.c-dk-2,
.c-dark-2 {
  color: #999999;
}

/* line 62, ../scss/emmet.scss */
.c-dk-3,
.c-dark-3 {
  color: #CCCCCC;
}

/* line 67, ../scss/emmet.scss */
.c-dk-4,
.c-dark-4 {
  color: #E6E6E6;
}

/* line 72, ../scss/emmet.scss */
.c-dk-5,
.c-dark-5 {
  color: #F2F2F2;
}

/* line 77, ../scss/emmet.scss */
.c-dk-6,
.c-dark-6 {
  color: #FFFFFF;
}

/* line 83, ../scss/emmet.scss */
.c-li-0,
.c-light-0,
.c-li,
.c-light {
  color: #FFFFFF;
}

/* line 90, ../scss/emmet.scss */
.c-li-1,
.c-light-1 {
  color: #E6E6E6;
}

/* line 95, ../scss/emmet.scss */
.c-li-2,
.c-light-2 {
  color: #CCCCCC;
}

/* line 100, ../scss/emmet.scss */
.c-li-3,
.c-light-3 {
  color: #999999;
}

/* line 105, ../scss/emmet.scss */
.c-li-4,
.c-light-4 {
  color: #666666;
}

/* line 110, ../scss/emmet.scss */
.c-li-5,
.c-light-5 {
  color: #333333;
}

/* line 115, ../scss/emmet.scss */
.c-li-6,
.c-light-6 {
  color: #000000;
}

/* line 121, ../scss/emmet.scss */
.c-mj-0,
.c-major-0 {
  color: #002041;
}

/* line 126, ../scss/emmet.scss */
.c-mj-1,
.c-major-1 {
  color: #003061;
}

/* line 131, ../scss/emmet.scss */
.c-mj,
.c-mj-2,
.c-major,
.c-major2 {
  color: #004081;
}

/* line 138, ../scss/emmet.scss */
.c-mj-3,
.c-major-3 {
  color: #668CB3;
}

/* line 143, ../scss/emmet.scss */
.c-mj-4,
.c-major-4 {
  color: #CCD9E6;
}

/* line 149, ../scss/emmet.scss */
.c-mn-0,
.c-minor-0 {
  color: #783F00;
}

/* line 154, ../scss/emmet.scss */
.c-mn-1,
.c-minor-1 {
  color: #B35F00;
}

/* line 159, ../scss/emmet.scss */
.c-mn,
.c-mn-2,
.c-minor,
.c-minor-2 {
  color: #EF7E00;
}

/* line 166, ../scss/emmet.scss */
.c-mn-3,
.c-minor-3 {
  color: #F2B266;
}

/* line 171, ../scss/emmet.scss */
.c-mn-4,
.c-minor-4 {
  color: #FCE5CC;
}

/* line 177, ../scss/emmet.scss */
.bgc-mn-0,
.bgc-minor-0 {
  background-color: #783F00;
}

/* line 182, ../scss/emmet.scss */
.bgc-mn-1,
.bgc-minor-1 {
  background-color: #B35F00;
}

/* line 187, ../scss/emmet.scss */
.bgc-mn,
.bgc-mn-2,
.bgc-minor,
.bgc-minor-2 {
  background-color: #EF7E00;
}

/* line 194, ../scss/emmet.scss */
.bgc-mn-3,
.bgc-minor-3 {
  background-color: #F2B266;
}

/* line 199, ../scss/emmet.scss */
.bgc-mn-4,
.bgc-minor-4 {
  background-color: #FCE5CC;
}

/* line 205, ../scss/emmet.scss */
.bgc-mj-0,
.bgc-major-0 {
  background-color: #002041;
}

/* line 210, ../scss/emmet.scss */
.bgc-mj-1,
.bgc-major-1 {
  background-color: #003061;
}

/* line 215, ../scss/emmet.scss */
.bgc-mj,
.bgc-mj-2,
.bgc-major,
.bgc-major2 {
  background-color: #004081;
}

/* line 222, ../scss/emmet.scss */
.bgc-mj-3,
.bgc-major-3 {
  background-color: #668CB3;
}

/* line 227, ../scss/emmet.scss */
.bgc-mj-4,
.bgc-major-4 {
  background-color: #CCD9E6;
}

/* line 233, ../scss/emmet.scss */
.bgc-mn-0,
.bgc-minor-0 {
  background-color: #783F00;
}

/* line 238, ../scss/emmet.scss */
.bgc-mn-1,
.bgc-minor-1 {
  background-color: #B35F00;
}

/* line 243, ../scss/emmet.scss */
.bgc-mn,
.bgc-mn-2,
.bgc-minor,
.bgc-minor-2 {
  background-color: #EF7E00;
}

/* line 250, ../scss/emmet.scss */
.bgc-mn-3,
.bgc-minor-3 {
  background-color: #F2B266;
}

/* line 255, ../scss/emmet.scss */
.bgc-mn-4,
.bgc-minor-4 {
  background-color: #FCE5CC;
}

/* line 261, ../scss/emmet.scss */
.curp {
  cursor: pointer;
}

/* line 265, ../scss/emmet.scss */
.curd {
  cursor: default;
}

/* line 269, ../scss/emmet.scss */
.curt {
  cursor: text;
}

/* line 273, ../scss/emmet.scss */
.curc {
  cursor: crosshair;
}

/* line 277, ../scss/emmet.scss */
.curhe {
  cursor: help;
}

/* line 281, ../scss/emmet.scss */
.curm {
  cursor: move;
}

/* line 285, ../scss/emmet.scss */
.curnd {
  cursor: no-drop;
}

/* line 289, ../scss/emmet.scss */
.curna {
  cursor: not-allowed;
}

/* line 293, ../scss/emmet.scss */
.curpg {
  cursor: progress;
}

/* line 297, ../scss/emmet.scss */
.curw {
  cursor: wait;
}

/* line 301, ../scss/emmet.scss */
.curn {
  cursor: none;
}

/* line 305, ../scss/emmet.scss */
.currr {
  cursor: row-resize;
}

/* line 309, ../scss/emmet.scss */
.curcr {
  cursor: col-resize;
}

/* line 313, ../scss/emmet.scss */
.curcm {
  cursor: context-menu;
}

/* line 317, ../scss/emmet.scss */
.curcp {
  cursor: copy;
}

/* line 321, ../scss/emmet.scss */
.curce {
  cursor: cell;
}

/* line 325, ../scss/emmet.scss */
.curwr {
  cursor: w-resize;
}

/* line 329, ../scss/emmet.scss */
.curer {
  cursor: e-resize;
}

/* line 333, ../scss/emmet.scss */
.curnr {
  cursor: n-resize;
}

/* line 337, ../scss/emmet.scss */
.curswr {
  cursor: sw-resize;
}

/* line 341, ../scss/emmet.scss */
.curser {
  cursor: se-resize;
}

/* line 345, ../scss/emmet.scss */
.curnwr {
  cursor: ne-resize;
}

/* line 349, ../scss/emmet.scss */
.curner {
  cursor: nw-resize;
}

/* line 353, ../scss/emmet.scss */
.curzi {
  cursor: zoom-in;
}

/* line 357, ../scss/emmet.scss */
.curzo {
  cursor: zoom-out;
}

/* line 361, ../scss/emmet.scss */
.curg {
  cursor: -webkit-grab;
  cursor: grab;
}

/* line 365, ../scss/emmet.scss */
.curgb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* line 369, ../scss/emmet.scss */
.vv {
  visibility: visible;
}

/* line 373, ../scss/emmet.scss */
.vh {
  visibility: hidden;
}

/* line 377, ../scss/emmet.scss */
.vc {
  visibility: collapse;
}

/* line 381, ../scss/emmet.scss */
.bdn {
  border: none;
}

/* line 385, ../scss/emmet.scss */
.mgn {
  margin: 0em;
}

/* line 389, ../scss/emmet.scss */
.pdn {
  padding: 0em;
}

/* line 393, ../scss/emmet.scss */
.dib {
  display: inline-block;
}

/* line 397, ../scss/emmet.scss */
.mn .db {
  display: block;
}

/* line 401, ../scss/emmet.scss */
.dn {
  display: none;
}

/* line 405, ../scss/emmet.scss */
.clb {
  clear: both;
}

/* line 409, ../scss/emmet.scss */
.fl {
  float: left;
}

/* line 413, ../scss/emmet.scss */
.fr {
  float: right;
}

/* line 417, ../scss/emmet.scss */
.tac {
  text-align: center;
}

/* line 421, ../scss/emmet.scss */
.tar {
  text-align: right;
}

/* line 425, ../scss/emmet.scss */
.tal {
  text-align: left;
}

/* line 429, ../scss/emmet.scss */
.taj {
  text-align: justify;
}

/* line 433, ../scss/emmet.scss */
.bxz,
.bx,
.bxzbb {
  box-sizing: border-box;
}

/* line 439, ../scss/emmet.scss */
.ovh {
  overflow: hidden;
}

/* line 443, ../scss/emmet.scss */
.ovxh {
  overflow-x: hidden;
}

/* line 447, ../scss/emmet.scss */
.ovyh {
  overflow-y: hidden;
}

/* line 451, ../scss/emmet.scss */
.ovxa {
  overflow-x: auto;
}

/* line 455, ../scss/emmet.scss */
.ovya {
  overflow-y: auto;
}

/* line 459, ../scss/emmet.scss */
.ova {
  overflow: auto;
}

/* line 463, ../scss/emmet.scss */
.posa {
  position: absolute;
}

/* line 467, ../scss/emmet.scss */
.posr {
  position: relative;
}

/* line 471, ../scss/emmet.scss */
.posf {
  position: fixed;
}

/* line 475, ../scss/emmet.scss */
.full {
  width: 100%;
  height: 100%;
}

/* line 480, ../scss/emmet.scss */
.fh {
  height: 100%;
}

/* line 484, ../scss/emmet.scss */
.fw {
  width: 100%;
}

/* line 488, ../scss/emmet.scss */
.bold {
  font-weight: bold;
}

/* line 493, ../scss/emmet.scss */
.df,
.dfr,
.flex-row,
.frow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 503, ../scss/emmet.scss */
.dfc,
.fcol,
.flex-col,
.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 513, ../scss/emmet.scss */
.flex-align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* line 518, ../scss/emmet.scss */
.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 523, ../scss/emmet.scss */
.flex-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* line 528, ../scss/emmet.scss */
.flex-baseline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* line 533, ../scss/emmet.scss */
.flex-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* line 538, ../scss/emmet.scss */
.flex-column-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/* line 543, ../scss/emmet.scss */
.flex-justify-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 548, ../scss/emmet.scss */
.flex-justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 553, ../scss/emmet.scss */
.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 558, ../scss/emmet.scss */
.flex-space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* line 563, ../scss/emmet.scss */
.f1,
.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 568, ../scss/emmet.scss */
.f2,
.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

/* line 573, ../scss/emmet.scss */
.f3,
.flex3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

/* line 578, ../scss/emmet.scss */
.f4,
.flex4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

/* line 583, ../scss/emmet.scss */
.f5,
.flex5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

/* line 588, ../scss/emmet.scss */
.f6,
.flex6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

/* line 593, ../scss/emmet.scss */
.f7,
.flex7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

/* line 598, ../scss/emmet.scss */
.f8,
.flex8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

/* line 603, ../scss/emmet.scss */
.f9,
.flex9 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

/* line 608, ../scss/emmet.scss */
.ord,
.ord0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

/* line 613, ../scss/emmet.scss */
.ord1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/* line 617, ../scss/emmet.scss */
.ord2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/* line 621, ../scss/emmet.scss */
.ord3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

/* line 625, ../scss/emmet.scss */
.ord4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

/* line 629, ../scss/emmet.scss */
.ord5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

/* line 633, ../scss/emmet.scss */
.ord6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

/* line 637, ../scss/emmet.scss */
.ord7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

/* line 641, ../scss/emmet.scss */
.ord8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

/* line 645, ../scss/emmet.scss */
.ord9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

/* line 649, ../scss/emmet.scss */
.wown {
  word-wrap: none;
}

/* line 653, ../scss/emmet.scss */
.wownm {
  word-spacing: normal;
}

/* line 657, ../scss/emmet.scss */
.wowb {
  word-wrap: break-word;
}