@mixin transition($time: 0.1s, $type: all, $easing: linear) {
  transition: $type $time $easing;
}

@mixin omitContent() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin shadow() {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.05), 0 7px 17px rgba(0, 0, 0, 0.1);
}

@mixin hover() {
  &:hover {
    @content;
  }
}

@mixin active() {
  &:active {
    @content;
  }
}

@mixin focus() {
  &:focus {
    @content;
  }
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
