//dark color
$color-dark: #000000,
#333333,
#666666,
#999999,
#CCCCCC,
#E6E6E6,
#F2F2F2,
#FFFFFF;
//light color
$color-light: #FFFFFF,
#F2F2F2,
#E6E6E6,
#CCCCCC,
#999999,
#666666,
#333333,
#000000;
//flat color
$color-flat:#1ABC9C,
#2ECC71,
#27AE60,
#3498DB,
#2980B9,
#9B59B6,
#8E44AD,
#34495E,
#2C3E50,
#F1C40F,
#F39C12,
#E67E22,
#D35400,
#E74C3C,
#C0392B,
#ECF0F1,
#BDC3C7,
#95A5A6,
#7F8C8D;