//major color
$cis-color-major-4: #CCD9E6;
$cis-color-major-3: #668CB3;
$cis-color-major-2: #004081;
$cis-color-major: #004081;
$cis-color-major-1: #003061;
$cis-color-major-0: #002041;
//minor color
$cis-color-minor-4: #FCE5CC;
$cis-color-minor-3: #F2B266;
$cis-color-minor-2: #EF7E00;
$cis-color-minor: #EF7E00;
$cis-color-minor-1: #B35F00;
$cis-color-minor-0: #783F00;
//dark color
$cis-color-dark: #000000;
$cis-color-dark-0: #333333;
$cis-color-dark-1: #666666;
$cis-color-dark-2: #999999;
$cis-color-dark-3: #CCCCCC;
$cis-color-dark-4: #E6E6E6;
$cis-color-dark-5: #F2F2F2;
$cis-color-dark-6: #FFFFFF;
//light color
$cis-color-light: #FFFFFF;
$cis-color-light-0: #F2F2F2;
$cis-color-light-1: #E6E6E6;
$cis-color-light-2: #CCCCCC;
$cis-color-light-3: #999999;
$cis-color-light-4: #666666;
$cis-color-light-5: #333333;
$cis-color-light-6: #000000;
