//major color
$cis-color-major-4: #689CC1;
$cis-color-major-3: #367AAB;
$cis-color-major-2: #035994;
$cis-color-major: #035994;
$cis-color-major-1: #01446F;
$cis-color-major-0: #012C4C;
//minor color
$cis-color-minor-4: #FFC178;
$cis-color-minor-3: #FCAC4B;
$cis-color-minor-2: #FB971D;
$cis-color-minor: #FB971D;
$cis-color-minor-1: #BB7015;
$cis-color-minor-0: #7D4B10;
//dark color
$cis-color-dark: #010B15;
$cis-color-dark-0: #010B15;
$cis-color-dark-1: #333;
$cis-color-dark-2: #343B43;
$cis-color-dark-3: #696C73;
$cis-color-dark-4: #9A9DA4;
$cis-color-dark-5: #CECFD3;
