@charset "UTF-8";
/* 
  Mydas_Egg - project inital generator
  v1.2.4 | 2016-12-26 EJay - modify something css class. ex: html, body
  v1.2.3 | 2016-12-26 EJay - add something css class. ex: .flex-col
  v1.2.2 | 2016-11-21 EJay - add something css class. ex: .vv, .vh, .cur
  v1.1.0 | 2016-11-21 EJay - all element use box-sizing: border-box & new something css class
  v1.0.1 | 2016-11-21 EJay - Create Emmet CSS
  Copyright © 2016 Anyong Fintech Co., Ltd.
*/
/* 
  RESET CSS
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
/* line 7, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 
  HTML5 display-role reset for older browsers 
*/
/* line 30, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* line 34, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 37, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}
/* line 42, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 13, ../sass/emmet.scss */
* {
  box-sizing: border-box;
}

/* line 19, ../sass/emmet.scss */
textarea:focus,
input:focus {
  outline: none;
}

/* line 24, ../sass/emmet.scss */
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
/* line 28, ../sass/emmet.scss */
a:hover {
  text-decoration: none;
}

/* line 33, ../sass/emmet.scss */
html,
body {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
  margin: 0em;
  border: none;
}

/* line 45, ../sass/emmet.scss */
.c-dk-0,
.c-dark-0,
.c-dk,
.c-dark {
  color: #010B15;
}

/* line 52, ../sass/emmet.scss */
.c-dk-1,
.c-dark-1 {
  color: #333;
}

/* line 57, ../sass/emmet.scss */
.c-dk-2,
.c-dark-2 {
  color: #343B43;
}

/* line 62, ../sass/emmet.scss */
.c-dk-3,
.c-dark-3 {
  color: #696C73;
}

/* line 67, ../sass/emmet.scss */
.c-dk-4,
.c-dark-4 {
  color: #9A9DA4;
}

/* line 72, ../sass/emmet.scss */
.c-dk-5,
.c-dark-5 {
  color: #CECFD3;
}

/* line 78, ../sass/emmet.scss */
.c-mj-0,
.c-major-0 {
  color: #012C4C;
}

/* line 83, ../sass/emmet.scss */
.c-mj-1,
.c-major-1 {
  color: #01446F;
}

/* line 88, ../sass/emmet.scss */
.c-mj,
.c-mj-2,
.c-major,
.c-major2 {
  color: #035994;
}

/* line 95, ../sass/emmet.scss */
.c-mj-3,
.c-major-3 {
  color: #367AAB;
}

/* line 100, ../sass/emmet.scss */
.c-mj-4,
.c-major-4 {
  color: #689CC1;
}

/* line 106, ../sass/emmet.scss */
.c-mn-0,
.c-minor-0 {
  color: #7D4B10;
}

/* line 111, ../sass/emmet.scss */
.c-mn-1,
.c-minor-1 {
  color: #BB7015;
}

/* line 116, ../sass/emmet.scss */
.c-mn,
.c-mn-2,
.c-minor,
.c-minor-2 {
  color: #FB971D;
}

/* line 123, ../sass/emmet.scss */
.c-mn-3,
.c-minor-3 {
  color: #FCAC4B;
}

/* line 128, ../sass/emmet.scss */
.c-mn-4,
.c-minor-4 {
  color: #FFC178;
}

/* line 134, ../sass/emmet.scss */
.bgc-mn-0,
.bgc-minor-0 {
  background-color: #7D4B10;
}

/* line 139, ../sass/emmet.scss */
.bgc-mn-1,
.bgc-minor-1 {
  background-color: #BB7015;
}

/* line 144, ../sass/emmet.scss */
.bgc-mn,
.bgc-mn-2,
.bgc-minor,
.bgc-minor-2 {
  background-color: #FB971D;
}

/* line 151, ../sass/emmet.scss */
.bgc-mn-3,
.bgc-minor-3 {
  background-color: #FCAC4B;
}

/* line 156, ../sass/emmet.scss */
.bgc-mn-4,
.bgc-minor-4 {
  background-color: #FFC178;
}

/* line 162, ../sass/emmet.scss */
.bgc-mj-0,
.bgc-major-0 {
  background-color: #012C4C;
}

/* line 167, ../sass/emmet.scss */
.bgc-mj-1,
.bgc-major-1 {
  background-color: #01446F;
}

/* line 172, ../sass/emmet.scss */
.bgc-mj,
.bgc-mj-2,
.bgc-major,
.bgc-major2 {
  background-color: #035994;
}

/* line 179, ../sass/emmet.scss */
.bgc-mj-3,
.bgc-major-3 {
  background-color: #367AAB;
}

/* line 184, ../sass/emmet.scss */
.bgc-mj-4,
.bgc-major-4 {
  background-color: #689CC1;
}

/* line 190, ../sass/emmet.scss */
.bgc-mn-0,
.bgc-minor-0 {
  background-color: #7D4B10;
}

/* line 195, ../sass/emmet.scss */
.bgc-mn-1,
.bgc-minor-1 {
  background-color: #BB7015;
}

/* line 200, ../sass/emmet.scss */
.bgc-mn,
.bgc-mn-2,
.bgc-minor,
.bgc-minor-2 {
  background-color: #FB971D;
}

/* line 207, ../sass/emmet.scss */
.bgc-mn-3,
.bgc-minor-3 {
  background-color: #FCAC4B;
}

/* line 212, ../sass/emmet.scss */
.bgc-mn-4,
.bgc-minor-4 {
  background-color: #FFC178;
}

/* line 218, ../sass/emmet.scss */
.curp {
  cursor: pointer;
}

/* line 222, ../sass/emmet.scss */
.curd {
  cursor: default;
}

/* line 226, ../sass/emmet.scss */
.curt {
  cursor: text;
}

/* line 230, ../sass/emmet.scss */
.curc {
  cursor: crosshair;
}

/* line 234, ../sass/emmet.scss */
.curhe {
  cursor: help;
}

/* line 238, ../sass/emmet.scss */
.curm {
  cursor: move;
}

/* line 242, ../sass/emmet.scss */
.curnd {
  cursor: no-drop;
}

/* line 246, ../sass/emmet.scss */
.curna {
  cursor: not-allowed;
}

/* line 250, ../sass/emmet.scss */
.curpg {
  cursor: progress;
}

/* line 254, ../sass/emmet.scss */
.curw {
  cursor: wait;
}

/* line 258, ../sass/emmet.scss */
.curn {
  cursor: none;
}

/* line 262, ../sass/emmet.scss */
.currr {
  cursor: row-resize;
}

/* line 266, ../sass/emmet.scss */
.curcr {
  cursor: col-resize;
}

/* line 270, ../sass/emmet.scss */
.curcm {
  cursor: context-menu;
}

/* line 274, ../sass/emmet.scss */
.curcp {
  cursor: copy;
}

/* line 278, ../sass/emmet.scss */
.curce {
  cursor: cell;
}

/* line 282, ../sass/emmet.scss */
.curwr {
  cursor: w-resize;
}

/* line 286, ../sass/emmet.scss */
.curer {
  cursor: e-resize;
}

/* line 290, ../sass/emmet.scss */
.curnr {
  cursor: n-resize;
}

/* line 294, ../sass/emmet.scss */
.curswr {
  cursor: sw-resize;
}

/* line 298, ../sass/emmet.scss */
.curser {
  cursor: se-resize;
}

/* line 302, ../sass/emmet.scss */
.curnwr {
  cursor: ne-resize;
}

/* line 306, ../sass/emmet.scss */
.curner {
  cursor: nw-resize;
}

/* line 310, ../sass/emmet.scss */
.curzi {
  cursor: zoom-in;
}

/* line 314, ../sass/emmet.scss */
.curzo {
  cursor: zoom-out;
}

/* line 318, ../sass/emmet.scss */
.curg {
  cursor: -webkit-grab;
  cursor: grab;
}

/* line 322, ../sass/emmet.scss */
.curgb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* line 326, ../sass/emmet.scss */
.vv {
  visibility: visible;
}

/* line 330, ../sass/emmet.scss */
.vh {
  visibility: hidden;
}

/* line 334, ../sass/emmet.scss */
.vc {
  visibility: collapse;
}

/* line 338, ../sass/emmet.scss */
.bdn {
  border: none;
}

/* line 342, ../sass/emmet.scss */
.mgn {
  margin: 0em;
}

/* line 346, ../sass/emmet.scss */
.pdn {
  padding: 0em;
}

/* line 350, ../sass/emmet.scss */
.dib {
  display: inline-block;
}

/* line 354, ../sass/emmet.scss */
.mn .db {
  display: block;
}

/* line 358, ../sass/emmet.scss */
.dn {
  display: none;
}

/* line 362, ../sass/emmet.scss */
.clb {
  clear: both;
}

/* line 366, ../sass/emmet.scss */
.fl {
  float: left;
}

/* line 370, ../sass/emmet.scss */
.fr {
  float: right;
}

/* line 374, ../sass/emmet.scss */
.tac {
  text-align: center;
}

/* line 378, ../sass/emmet.scss */
.tar {
  text-align: right;
}

/* line 382, ../sass/emmet.scss */
.tal {
  text-align: left;
}

/* line 386, ../sass/emmet.scss */
.taj {
  text-align: justify;
}

/* line 390, ../sass/emmet.scss */
.bxz,
.bx,
.bxzbb {
  box-sizing: border-box;
}

/* line 396, ../sass/emmet.scss */
.ovh {
  overflow: hidden;
}

/* line 400, ../sass/emmet.scss */
.ovxh {
  overflow-x: hidden;
}

/* line 404, ../sass/emmet.scss */
.ovyh {
  overflow-y: hidden;
}

/* line 408, ../sass/emmet.scss */
.ovxa {
  overflow-x: auto;
}

/* line 412, ../sass/emmet.scss */
.ovya {
  overflow-y: auto;
}

/* line 416, ../sass/emmet.scss */
.ova {
  overflow: auto;
}

/* line 420, ../sass/emmet.scss */
.posa {
  position: absolute;
}

/* line 424, ../sass/emmet.scss */
.posr {
  position: relative;
}

/* line 428, ../sass/emmet.scss */
.posf {
  position: fixed;
}

/* line 432, ../sass/emmet.scss */
.full {
  width: 100%;
  height: 100%;
}

/* line 437, ../sass/emmet.scss */
.fh {
  height: 100%;
}

/* line 441, ../sass/emmet.scss */
.fw {
  width: 100%;
}

/* line 445, ../sass/emmet.scss */
.bold {
  font-weight: bold;
}

/* line 450, ../sass/emmet.scss */
.df,
.dfr,
.flex-row,
.frow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 460, ../sass/emmet.scss */
.dfc,
.fcol,
.flex-col,
.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 470, ../sass/emmet.scss */
.flex-align-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* line 475, ../sass/emmet.scss */
.flex-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 480, ../sass/emmet.scss */
.flex-stretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* line 485, ../sass/emmet.scss */
.flex-baseline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

/* line 490, ../sass/emmet.scss */
.flex-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* line 495, ../sass/emmet.scss */
.flex-column-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/* line 500, ../sass/emmet.scss */
.flex-justify-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 505, ../sass/emmet.scss */
.flex-justify-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 510, ../sass/emmet.scss */
.flex-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 515, ../sass/emmet.scss */
.flex-space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/* line 520, ../sass/emmet.scss */
.f1,
.flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 525, ../sass/emmet.scss */
.f2,
.flex2 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

/* line 530, ../sass/emmet.scss */
.f3,
.flex3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

/* line 535, ../sass/emmet.scss */
.f4,
.flex4 {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

/* line 540, ../sass/emmet.scss */
.f5,
.flex5 {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

/* line 545, ../sass/emmet.scss */
.f6,
.flex6 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

/* line 550, ../sass/emmet.scss */
.f7,
.flex7 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

/* line 555, ../sass/emmet.scss */
.f8,
.flex8 {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

/* line 560, ../sass/emmet.scss */
.f9,
.flex9 {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

/* line 565, ../sass/emmet.scss */
.ord,
.ord0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

/* line 570, ../sass/emmet.scss */
.ord1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/* line 574, ../sass/emmet.scss */
.ord2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/* line 578, ../sass/emmet.scss */
.ord3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

/* line 582, ../sass/emmet.scss */
.ord4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

/* line 586, ../sass/emmet.scss */
.ord5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

/* line 590, ../sass/emmet.scss */
.ord6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

/* line 594, ../sass/emmet.scss */
.ord7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

/* line 598, ../sass/emmet.scss */
.ord8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

/* line 602, ../sass/emmet.scss */
.ord9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

/* line 606, ../sass/emmet.scss */
.wown {
  word-wrap: none;
}

/* line 610, ../sass/emmet.scss */
.wownm {
  word-spacing: normal;
}

/* line 614, ../sass/emmet.scss */
.wowb {
  word-wrap: break-word;
}